:root {
  --normal: 400;
  --medium: 500;
  --semibold: 600;
  --bold: 700;
  --radius: 15px;

  --sans: "Montserrat", system-ui, sans-serif;

  --text: rgb(32, 32, 32);
  --bg: #f3f5f7;
  --text-b: #211e24;
  --panel-bg: #fff;
  --dropzone: #ecf3ff;
  --dropzone-border-dashed: #136ef0;
  --upload-icon-color: #ffffff;
  --upload-icon-image-fill: #136ef0;
  --upload-icon-bg-fill: #d0e1ff;
  --upload-placeholder: #211e24;
  --green: #318b45;
  --error-red: #d30d0d;
  --imgTile-bg: #f5f7f9;
  --downloadImg: #fff;
  --grey-line: #ecefee;
  --text-l: #898b8c;
  --hover-grey: #f3f3f3;
  --scrollbar-t: #dbdbdb;

  --downloadAll: #2d2a2b;
  --downloadAll-hover: #070707;

  --dz-active-bg: #dcebff;
  --dz-active-glow: rgba(19, 110, 240, 0.2);

  --loader-spiner: #282a2b;
  --loader-spiner-bg: #dee0e2;

  --panel-shadow: rgba(0, 0, 0, 0.06) 0px 8px 20px 0px;
  --ui-shadow:
    0px -2px 8px 0px rgba(255, 255, 255, 0.4) inset,
    0px 4px 20px 0px rgba(0, 0, 0, 0.1);
  --ui-shadow--hover:
    rgba(255, 255, 255, 0.6) 0px -2px 8px 0px inset,
    rgba(0, 0, 0, 0.2) 0px 4px 10px 0px;

  --header-bg-image: none;
  --layout-breakpoint: 998px;

  background-color: var(--bg);
  color: var(--text);

  @media (min-width: 998px) {
    --radius: 20px;
  }
}

.dark {
  --bg: #323136;
  --text-b: #fff;
  --text-l: #c6c6c6;

  --panel-bg: #323135;
  --dropzone: rgba(45, 45, 48, 0.6);
  --dropzone-border-dashed: #a2ff86;
  --upload-icon-bg-fill: rgba(255, 255, 255, 0.05);
  --upload-icon-image-fill: #a2ff86;
  --upload-icon-color: #1a1a1a;
  --upload-placeholder: #d1d5db;
  --downloadImg: #5e595d;
  --downloadAll: #171616;
  --downloadAll-hover: rgb(15, 15, 15);
  --green: #1eb43f;
  --hover-grey: #5e595d;
  --scrollbar-t: #272727;

  --dz-active-bg: rgba(60, 59, 64, 0.9);
  --dz-active-glow: rgba(162, 255, 134, 0.5);
  --imgTile-bg: #2f2f32;
  --grey-line: #292a2a;

  --panel-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.36);
  --ui-shadow:
    0px -2px 8px 0px rgba(255, 255, 255, 0.6) inset,
    0px 4px 20px 0px rgba(0, 0, 0, 0.1);
  --ui-shadow--hover:
    rgba(255, 255, 255, 0.9) 0px -2px 8px 0px inset,
    rgba(0, 0, 0, 0.2) 0px 4px 10px 0px;

  --header-bg:
    linear-gradient(
      180deg,
      rgba(50, 49, 53, 0) 0%,
      rgba(50, 49, 53, 0.3) 50.48%,
      #323135 100%
    ),
    url("./assets/images/header-bg.svg");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--sans);
  font-weight: var(--normal);
}

button {
  cursor: pointer;

  &:disabled {
    cursor: default;
  }
}

p {
  margin: 0;
}

#root {
  min-height: 100dvh;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}

.uiThemeBorder {
  box-shadow: var(--ui-shadow);
  transition: all 0.2s ease;

  &:hover {
    box-shadow: var(--ui-shadow--hover);
  }
}

.container {
  width: 100%;
  max-width: 1800px;
  padding-left: 20px;
  padding-right: 20px;
}

h1 {
  margin: 0;
}